@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@500;600;700&display=swap");
.ff_inter {
  font-family: "Inter", sans-serif;
}
.ff_anton {
  font-family: "Anton", sans-serif;
}
/* ----------preloader---------- */
.loader {
  --c: no-repeat linear-gradient(#ffffff 0 0);
  background: var(--c), var(--c), #29262c;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
.element {
  animation: nudge 4s linear infinite alternate;
  position: absolute;
  transform: translateY(0);
}

@keyframes nudge {
  100% {
    transform: translateY(-20px);
}
}